# Игнорирование виртуальных окружений Python
venv/
.venv/
env/
/.env
ENV/

# Игнорирование файлов с окружением
#.env
#.env.*

# Игнорирование скомпилированных файлов Python
__pycache__/


# Игнорирование логов и временных файлов
*.log
*.tmp
*.temp
*.swp
*.json

# Игнорирование настроек проекта для IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Игнорирование файлов сборки
build/
dist/
*.egg-info/
.eggs/

# Игнорирование кэша и артефактов системы
.DS_Store
Thumbs.db

# Игнорирование специфичных для ОС файлов
*.bak
*~

# Игнорирование дополнительных файлов и папок
.volumes/

